@model IEnumerable<BookStore.DBStandard.Models.Book>

@section css {
    <link rel="stylesheet" href="~/CSS/BookList.css">
    <link rel="stylesheet" href="~/CSS/SearchBar.css">
    <link rel="stylesheet" href="~/CSS/SelectList.css">
}
<ul id="select">
    <li>
        <div class="select-head">
            <i class="iconfont icon-xiangyoujiantou select-icon"></i>
            <span class="select-head-cont TypeName"></span>
        </div>
        <ul class="option">
            <li class="option-item" hidden>请选择图书类别</li>
            @if (ViewBag.types != null)
            {
                @foreach (var i in ViewBag.types)
                {
                    <li class="option-item">@i.BookType</li>
                }
            }
        </ul>

    </li>
</ul>
<form id="SearchBar" method="post" action="../../Book/BookList">
    <input type="text" name="str" class="input" id="search-input">
    <button type="reset" class="search" id="search-btn"></button>
</form>
<div class="bookshelf">
    <div class="book-grid">
        @if (Model != null)
        {
            for (var i = 0; i < Model.Count();)
            {
                <ul>
                    @for (int j = 0; j < 3 && i < Model.Count(); j++)
                    {
                        var book = Model.ToList()[i];
                        if (book.BookTag == "下架")
                        {
                            i++;
                            continue;
                        }
                        <li>
                            <img src="@Html.DisplayFor(modelItem => book.BookCoverUrl)" />

                            <!-- 添加到购物车的按钮 -->
                            <button data-action="add-to-cart" data-id="@book.BookId" type="submit">
                                <i class="iconfont icon-jiarugouwuche icon"></i>
                            </button>

                            <!-- 查看详细信息的按钮 -->
                            <button data-action="details" data-id="@book.BookId" type="submit">
                                <i class="iconfont icon-xiangqing icon"></i>
                            </button>
                        </li>
                        i++;

                    }
                </ul>
                <div class="shelf-shadows"></div>
                <div class="shelf"></div>
            }
        }
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // updated 2019
            var $input = $("#search-input");
            var $searchBtn = $("#search-btn");

            $searchBtn.on("click", function () {
                $searchBtn.toggleClass("close");
                $input.toggleClass("square");
            });

            //int
            var $selectHead = $('ul#select');
            var selectHeadCont = document.getElementsByClassName('select-head-cont');
            var optionItem = document.getElementsByClassName('option-item');

            /*默认是第一个选项*/
            selectHeadCont[0].innerHTML = optionItem[0].innerHTML;

            /*点击后出现下拉框*/
            $selectHead.click(function () {
                $('.option').css("display", "block");
                $('.select-head-cont').css("display", "block");
                $('.select-icon').css("transform", "rotate(90deg)");
            });
            $('.option-item').click(function () {
                $('.select-head-cont').text($(this).text());
                $('.option').hide();
                var BookType = $(this).text();
                $.ajax({
                    url: '/Book/SearchBookList',
                    type: 'Get',
                    dataType: 'json',
                    data: { typeName: BookType },
                    success: function (data) {
                        s
                        alert(data.length);
                    }
                });
                return true;
            });
            $(document).click(function (e) {
                var _con = $('ul'); // 设置目标区域
                var i = 0;
                if (!_con.is(e.target) && _con.has(e.target).length === 0) {
                    $('.option').css("display", "none");
                    $('ul#select').css("width", "60px");
                    $('.select-head-cont').css("display", "none");
                    $('.select-icon').css("transform", "rotate(0deg)");
                }
            });
            $('ul#select').click(function () {
                $(this).css("width", "250px");
            });

        });
        // 处理添加到购物车的按钮点击事件
        $(document).on('click', '[data-action="add-to-cart"]', function () {
            var id = $(this).data('id');
            // 可以使用Ajax调用Controller的AddToCart动作方法
            $.ajax({
                url: '/Custom/InsertShopCart/' + id,
                type: 'Post',
                success: function (response) {
                    alert("添加成功");
                },
                error: function () {
                    // 处理错误
                }
            });
        });

        // 处理查看详细信息的按钮点击事件
        $(document).on('click', '[data-action="details"]', function () {
            var id = $(this).data('id');
            //可以使用Ajax调用Controller的Details动作方法
            $.ajax({
                url: '/Book/BookDetail/' + id,
                type: 'GET',
                dataType: 'html',
                success: function (response) {


                },
                error: function () {
                    // 处理错误
                }
            });
        });
    </script>
}